body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}

.red {
    color: $red;
}

h2 {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

h4 {
    font-size: 24px;
    font-weight: 400px;
    line-height: 36px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

@include media-breakpoint-down(sm) {
    h2 {
        font-size: 30px;
        line-height: 30px;
    }
    h3 {
        font-size: 12px;
        line-height: 17px;
    }
    h4 {
        font-size: 12px;
        line-height: 15px;
    }
    h5 {
        font-size: 12px;
        line-height: 17px;
    }
}