@import "~bootstrap/scss/bootstrap.scss";
@import "~slick-carousel/slick/slick.scss";

$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-font-family: "slick";
$slick-loader-path: "~slick-carousel/slick/";
$slick-arrow-color: black; 

@import "~slick-carousel/slick/slick-theme.scss";


@import "variables";
@import "mixins";
@import "components/layout";
@import "components/typography";
/*
@import "components/animations";
@import "components/buttons";
@import "components/navs";
@import "components/captions";
@import "components/markers";
@import "components/preload";
@import "components/scrollbar";
@import "components/swiper";
@import "components/switch";
@import "components/typography";
@import "sections/header";
@import "sections/footer";
@import "sections/overview";
@import "sections/specs";
@import "sections/learn";
@import "responsive";
*/